:root {
  --blue: #7287ae;
  --white: #fff;
  --lightgreen: #e3ecc2; }

@font-face {
  font-family: 'lato';
  src: url("../fonts/lato/Lato-Regular.ttf"); }

@font-face {
  font-family: 'ubuntu-bold';
  src: url("../fonts/ubuntu/Ubuntu-Bold.ttf"); }

:root {
  --font-primary: 'lato';
  --font-secondary: 'ubuntu-bold'; }

html, body {
  font-size: 100%;
  font-family: var(--font-primary);
  margin: 0;
  padding: 0; }

body {
  background-color: var(--blue); }

a {
  color: inherit; }

/*
 * Use CSS variables!
 */
:root {
  --red: crimson; }

/*
 * Highlight images missing alt text!
 * Inspired from @addyosmani's tweet here:
 * https://twitter.com/addyosmani/status/1223872295619330048
 */
img:not([alt]) {
  border: 2px solid var(--red); }

.text-center {
  text-align: center; }

.uppercase {
  text-transform: uppercase; }

.section .inner--offset {
  width: 73.375rem;
  margin: 0 auto; }

.hero {
  width: 60%;
  margin: 0 auto; }
  .hero .heading {
    font-size: 6.4375rem;
    line-height: 1;
    font-family: var(--font-secondary);
    margin: 3.125rem 0; }
  .hero .subheading {
    font-size: 2.08312rem; }

.section#top-banner {
  color: var(--white); }
  .section#top-banner .inner {
    padding-bottom: 15rem; }

.section#restaurant-menu {
  background-color: var(--lightgreen); }
  .section#restaurant-menu .heading {
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 2.8625rem;
    color: var(--blue); }

.header#site-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 4.5rem 0; }

.main-navigation .menu li:not(:last-of-type) {
  margin-right: 3.125em; }

.menu {
  list-style-type: none; }
  .menu--horizontal li {
    display: inline-block; }
  .menu li a {
    text-decoration: none; }
