.section {
    .inner {
        &--offset {
            width: 73.375rem;
            margin: 0 auto;
        }
    }
}

.hero {
    width: 60%;
    margin: 0 auto;

    .heading {
        font-size: rem(103);
        line-height: 1;
        font-family: var(--font-secondary);
        margin: rem(50) 0;
    }

    .subheading {
        font-size: rem(33.33);
    }
}

.section {
    &#top-banner {
        color: var(--white);

        .inner {
            padding-bottom: rem(240);
        }
    }

    &#restaurant-menu {
        background-color: var(--lightgreen);
    }
}